---

---

<section id="contacto" class="flex flex-col w-screen mb-16 gap-y-28 pt-16">
  <div class="flex flex-wrap justify-evenly gap-y-10 justify-items-center">
    <iframe
      width="300"
      height="500"
      scrolling="no"
      src="https://www.instagram.com/p/C8nIABbBzvx/embed"
      frameborder="0"></iframe>
    <iframe
      width="300"
      height="500"
      scrolling="no"
      src="https://www.instagram.com/p/C7plBruM59F/embed"
      frameborder="0"></iframe>
    <iframe
      width="300"
      height="500"
      scrolling="no"
      src="https://www.instagram.com/p/C5ju9MFs1tU/embed"
      frameborder="0"></iframe>
  </div>
</section>

<style>
  iframe {
    padding: 5px;
    border-radius: 15px;
  }
</style>
