---
import SectionTitle from "@/components/SectionTitle.astro";
import type { LocationData } from "@/config/landing.interface";

interface Props {
  data: LocationData;
}

const { data } = Astro.props;
---

<section id="ubicacion" class="flex flex-col mb-20 gap-y-28 pt-16">
  <SectionTitle>
    {data.title}
  </SectionTitle>
  <div class="flex flex-col content-center">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127450.1099644288!2d-76.60806508549959!3d3.3950608971461818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a6f0cc4bb3f1%3A0x1f0fb5e952ae6168!2sCali%2C%20Valle%20del%20Cauca!5e0!3m2!1ses-419!2sco!4v1719439557736!5m2!1ses-419!2sco"
      max-width="600"
      height="500"
      max-height="1000"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
