---
import SectionTitle from "@/components/SectionTitle.astro";
import type { LocationData } from "@/config/landing.interface";

interface Props {
  data: LocationData;
}

const { data } = Astro.props;
---

<section
  id="ubicacion"
  class="flex flex-col w-screen mb-20 gap-y-28 m-10 pt-16"
>
  <SectionTitle>
    {data.title}
  </SectionTitle>
  <div class="flex flex-row flex-wrap justify-center content-center">
    <div class="p-4">
      <h3 class="mb-2">Cali, Valle del Cauca</h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.6689449540554!2d-76.53785252421568!3d3.4305202965439947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a690e1dfbc6f%3A0xf93da59528ad74c!2sCra.%2029a%20%239-51%2C%20La%20Alameda%2C%20Cali%2C%20Valle%20del%20Cauca!5e0!3m2!1ses-419!2sco!4v1719604864027!5m2!1ses-419!2sco"
        width="400"
        height="400"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="p-4">
      <h3 class="mb-2">Buga, Valle del Cauca</h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3980.5901414834543!2d-76.30294812421377!3d3.8976497960761254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e39e643d751a5a5%3A0x4ae516c2f80f49a2!2sCra.%2012%20%234-58%2C%20Guadalajara%20de%20Buga%2C%20Valle%20del%20Cauca!5e0!3m2!1ses-419!2sco!4v1719604995777!5m2!1ses-419!2sco"
        width="400"
        height="400"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>

<style>
  @media screen and (max-width: 750px) {
    iframe {
      max-width: 100% !important;
      width: auto !important;
      height: auto !important;
    }
  }
</style>
